html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    background-color: rgb(181, 248, 214);
}

img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

video{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}



a {
    color: rgb(13, 83, 16);
}

a:visited {
    color: rgb(13, 83, 16);
}

a:hover {
    color: red;
    text-decoration:none;
}  


.none{
   display: none;
}


.container{
    display: grid;
    width: 75%;
    margin: 0 auto;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-gap: 1em;
    padding: 1em;

    border: 5px solid salmon;
}

.item{
    overflow: hidden;  
    border: 5px solid mediumaquamarine;
}

.center_item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center_text{
    text-align: center;
}




/* Text Imput Styles */
[contenteditable]:focus {
    outline: 0px solid transparent;
}

#textInput{
    border: 5px solid black;
    padding: 1em;
    position: relative; 
}

#textInput:empty::before {
    content: "Filler Text";
    display: block;
    position: absolute;
    color: lightslategray;
    text-align: left;
}
#textInput:focus{
    border: 5px solid slategray;
}

#textOutput{
    border-bottom: 5px black dashed;
    margin: 1em 0;
    padding: 1em;
}



.building{
    background-image: url("/img/daniel-kim-1500782-unsplash.jpg");
    background-position: center;
    background-size: contain;
}
