body{
    background-color: rgb(181, 248, 214);
}

img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

video{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.centerImage{
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: rgb(13, 83, 16);
}

a:visited {
    color: rgb(13, 83, 16);
}

a:hover {
    color: red;
    text-decoration:none;
}  


.none{
   display: none;
}


.container{
    display: grid;
    width: 75%;
    margin: 0 auto;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
}




/* Text Imput Styles */
[contenteditable]:focus {
    outline: 0px solid transparent;
}

#textInput{
    border: 5px solid black;
    padding: 1em;
    position: relative; 
}

#textInput:empty::before {
    content: "Filler Text";
    display: block;
    position: absolute;
    color: lightslategray;
    text-align: left;
}
#textInput:focus{
    border: 5px solid slategray;
}

#textOutput{
    border-bottom: 5px black dashed;
    margin: 1em 0;
    padding: 1em;
}